.nav {
  height: 30px;
  padding: 1vh 0;

  background-color: #131313;
  align-items: flex-start;

  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: left;

  list-style: none;
}

.nav-list * {
  width: 33%;
  margin: auto;
}

.nav-list *:hover {
  color: #fff;
}
